
h1 {
	text-align: center;
	color: green;
}

form{
	text-align: center;
}

.sqlDialogText {
    display: block;
    width: 600px; /* Optional, depends otherwise on parent. */
    height: 300px;
    overflow: auto;
    color: green;
}

